header {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin-inline: auto;
    height: 65px;
    border-bottom: 1px solid #e5e9eb;
    .left,
     .right {
        display: flex;
        align-items: center;
    }
    .left {
        gap: 32px;
        ul {
            display: flex;
            gap: 20px;
            align-items: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 171%;
                    letter-spacing: -0.01em;
                    color: #252c32;
                }
            }
            .create{
                border: 1px solid #dde2e4;
                border-radius: 6px;
                padding: 4px 12px;
                width: 68px;
                height: 32px;
            }
        }
    }
    .right {
        gap: 16px;
        margin-right: 20px;
    }
}
.burger {
    display: none;
}
@media screen and (max-width: 1440px ) {
    
}
@media screen and (max-width: 1280px ) {

}
@media screen and (max-width: 960px ) {
    nav {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media screen and (max-width: 760px ) {
    .question, .settings{
        display: none;
    }
}
@media screen and (max-width: 480px ) {
    .bell{
        display: none;
    }
}
@media screen and (max-width: 360px ) {
    
}
.Logomark {
    display: flex;
    align-items: center;
    margin-left: 20px;
    p {
        color: #7F56D9;
        padding-left: 10px;
    }
}


