@import 'variables';
@import 'mixins';
@import 'core';

header {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin-inline: auto;
    height: 65px;
    border-bottom: 1px solid #e5e9eb;
    .left,
     .right {
        display: flex;
        align-items: center;
    }
    .left {
        gap: 32px;
        ul {
            display: flex;
            gap: 20px;
            align-items: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 171%;
                    letter-spacing: -0.01em;
                    color: #252c32;
                }
            }
            .create{
                border: 1px solid #dde2e4;
                border-radius: 6px;
                padding: 4px 12px;
                width: 68px;
                height: 32px;
            }
        }
    }
    .right {
        gap: 16px;
        margin-right: 20px;
    }
}
.burger {
    display: none;
}
.main{
    margin-top: 64px;
}
.analytics{
    max-width: 1920px;
    h2{
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 60px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #101828;
    }
    p{
        margin-bottom: 48px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #667085;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 12px;
        .leftbutton{
            border: 1px solid #d0d5dd;
            border-radius: 8px;
            padding: 16px 28px;
            width: 143px;
            height: 60px;
            background-color: white;
            align-items: center;
            text-align: center;
            display: flex;
            gap: 10px;
            font-size: 18px;
        }
        .rightbutton{
            border-radius: 8px;
            width: 121px;
            height: 60px;
            box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
            background: #7f56d9;
            border: 1px solid #7f56d9;
            color: white;
            font-size: 18px;
        }
    }
}
.Logomark {
    display: flex;
    align-items: center;
    margin-left: 20px;
    p {
        color: #7F56D9;
        padding-left: 10px;
    }
}
.comp{
    margin: 64px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Container.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top; 
}
.breaktext1920normal{
    display: block;
}
.breaktextsmarter{
    display: inline;
}
@media screen and (max-width: 1440px ) {
    
}
@media screen and (max-width: 1280px ) {
    .comp{
        background-image: url(../images/Content.png);
    }
}
@media screen and (max-width: 960px ) {
    nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .main{
        h2{
            font-size: 44px;
        }
    }
    .comp{
        background-image: url(../images/Content960.png);
    }
    .faq-container{
        width: 960px I !important;
    }
    .faq-header{
        h1{
            font-weight: 600;
            font-size: 36px;
            line-height: 122%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #101828;
        }
    }
    .faq-items{
        width: 920px ;
    }
    .faq-icon{
        display: inline-flex;
    }
    .faq-label {
        width: 640px Im !important;
        padding-left: 80px !important;
        padding-right: 80px !important;
  }
  .faq-content{
        p{
            width: 592px !important;
            margin-left: 80px;
        }

  }
  .greed-item{
        grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 760px ) {
    .question, .settings{
        display: none;
    }
    .breaktextsmarter{
        display: block;
    }
    .breaktextconvert{
        display: block;
    }
    .breaktext1920normal{
         all: unset;
    }
    .breaktextstartup{
        display: block;
    }
}
@media screen and (max-width: 480px ) {
    .bell{
        display: none;
    }
    .analytics{
        p{
            font-size: 16px;
        }
        h2{
            font-size: 32px;
        }
    }
   .analytics .buttons {
    flex-direction: column;
    gap: 12px;
    align-items: stretch; 
    width: 100%;          
    padding: 0 20px;      
  }
    .analytics .buttons .leftbutton,
  .analytics .buttons .rightbutton {
    width: 100%;     
    justify-content: center;
  }
}
@media screen and (max-width: 360px ) {
    .breaktextgrow{
        display: block;
        
    }
    .breaktextsmarter{
        all: unset;
    }
    .analytics{
        p{
            font-size: 16px;
        }
        h2{
            font-size: 28px;
        }
    }
    .faq-header{
        margin-left: 46px;
        width: 268px;
        h1{
            font-size: 30px !important;
            line-height: 127%;
        }
    }
    .faq-label{
        width: 300px !important;
        font-size: 16px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .faq-content{
        width: 268px !important;
       p{
            width: 268px !important;
            margin-left: 30px;
       }
    }
}
.faq-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #667085;
        margin-top: 20px;
    }
    h1{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 122%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #101828;
    }
}
.faq-items{
    margin-bottom: 64px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    max-width: 1520px; 
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: auto;
    border: none;
    background: none;
    padding-bottom: 10px;
}
.faq-content {
    display: none; 
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    width: 768px !important;
}
.faq-input:checked ~ .faq-content {
    display: block; 
}

.faq-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #101828;
    font-family:  "Inter", sans-serif;
}
.faq-icon::before {
    content: "+";
    font-weight: bold;
}
.faq-input:checked + .faq-label .faq-icon::before {
    content: "–";
}
.faq-input {
    display: none;
}
.faq-content {
    display: none;
    padding: 10px 0;
    font-size: 16px;
    color: #667085;
}
.faq-input:checked ~ .faq-content {
    display: block;
}
.faq-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #7F56D9; /* фиолетовый фон кружка */
    color: white;              /* цвет символа внутри */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    border: none; /* можно убрать серую обводку */
    flex-shrink: 0;
}

.faq-icon::before {
    content: "+";
    color: white; /* символ "+" белого цвета на фиолетовом фоне */
}

.faq-input:checked + .faq-label .faq-icon::before {
    content: "–";
    color: white; /* символ "–" белого цвета */
}
.faq-input:checked + .faq-label 
.faq-input:checked ~ .faq-content {
    display: block;
}
.faq-content {
    display: none;
    padding: 10px 0;
    font-size: 16px;
    color: #667085;
    width: 100%;
    box-sizing: border-box;
}
.faq-item:not(:last-child) {
  border-bottom: 1px solid #eaecf0;
}
.faq-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #7F56D9; 
    color: #7F56D9; 
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    flex-shrink: 0;
}

.faq-icon::before {
    content: "+";
    color: #7F56D9; 
}

.faq-input:checked + .faq-label .faq-icon::before {
    content: "–";
    color: #7F56D9; 
}




