.main-layout {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "hero" "services" "portfolio" "about" "footer";
}

header {
  background-color: green;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 50px;
  grid-template-rows: 50px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

header > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
header .logo {
  font-size: 18px;
}
header .menu {
  font-size: 18px;
}
header .menu a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.hero {
  height: 250px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero h1 {
  color: white;
  margin-bottom: 25px;
  font-weight: bold;
}
.hero button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(112, 112, 251);
}

.help {
  background-color: greenyellow;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: 300px;
}
.help h2 {
  margin-top: 15px;
  height: 100px;
  margin-left: 150px;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.portfolio {
  background-color: rgb(132, 0, 220);
  display: -ms-grid;
  display: grid;
  height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}
.portfolio .img {
  font-size: 30px;
  margin-top: 15px;
  height: 100px;
  margin-left: 50px;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.about-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact {
  padding: 75px;
  height: 300px;
  background-color: rgb(0, 166, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}
.contact .left h2 {
  font-size: 37px;
}
.contact .left p {
  font-size: 20px;
}
.contact .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}
.contact .right h2 {
  font-size: 37px;
}
footer {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aqua;
  font-size: 25px;
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}